 * {
      margin: 0px;
      padding: 0px;
    }

    .font {
      font-family: 'Times New Roman', Times, serif
    }

    .font-intro {

      font-family: "Parisienne", cursive;
      font-weight: 400;
      font-style: normal;
    }

    .font-name {
      font-family: 'Allura';
    }

    .br {
      border-radius: 50px;
    }

    .font2 {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }

    .text-justify {
      text-align: justify;
    }

    .zoom-img {
      transition: transform 0.5s ease;
    }

    .zoom-img:hover {
      transform: scale(1.05);
    }

    .bg-grey {
      background-color: #D6DEE8;
    }

    .text-grey {
      color: #D6DEE8;
    }

    ul {
      list-style: none;
    }
    a{
        text-decoration: none;
        
    }